/**************************
parameters
***********************/
body {
  margin: 0 auto;
  font-family: Roboto, sans-serif;
}

.arguments__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  padding: 0 20px;
  max-width: 945px;
  margin: 0 auto;
  padding-bottom: 59px;
}
.arguments-header {
  opacity: 0.5;
  font-family: "Roboto", sans-serif;
  margin-top: 30px;
  font-size: 22px;
  font-weight: 400;
  line-height: 34px;
  text-align: center;
  align-items: center;
}
.arguments__name {
  color: #818796;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
.arguments__product {
  padding-right: 70px;
}
.arguments__product:hover .arguments__product_number {
  color: #6b758a;
  position: relative;
  bottom: 15px;
  padding: 0;
}
.arguments__product:hover .arguments__name {
  margin-bottom: 10px;
}
.arguments__product_number {
  transition: all 0.6s;
  height: 30px;
  font-size: 57px;
  margin: 0 0 37px 0;
  color: #f87a02;
  font-family: "Times New Roman", Times, serif;
}
.arguments__strong {
  color: #766b7c;
}
.arguments__order {
  height: 50px;
  box-shadow: 0 10px 10px #d3d5dc;
  display: flex;
  border: 10px solid #f87a02;
  background: #f87a02;
  border-radius: 30px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: white;
  cursor: pointer;
}
.arguments__order:hover {
  border: 10px solid #515d88;
  background: #515d88;
}
.arguments__divider {
  height: 3px;
  opacity: 0.6;
  background: #ecedf0;
  max-width: 945px;
  margin: 30px auto;
}
.arguments__company {
  color: #818796;
}

.divider {
  height: 2px;
  opacity: 0.6;
  background: #a59595;
  max-width: 945px;
  margin: 0 auto;
}

.footer {
  max-width: 945px;
  text-align: center;
  margin: 0 auto;
}
.footer__text {
  color: #818ab6;
  font-size: 20px;
}
.footer__text__i {
  color: #818796;
}
.footer__profit {
  color: #818ab6;
}
.footer__direction {
  position: relative;
  top: 0;
}
.footer__direction:hover {
  animation: animdash 3s;
}

@keyframes animdash {
  0% {
    top: 30px;
  }
  25% {
    top: 0px;
  }
  50% {
    top: 30px;
  }
  75% {
    top: 0px;
  }
  100% {
    top: 30px;
  }
}
/*******************************************************************
header
******************************************************/
.header {
  max-width: 945px;
  margin: 0 auto;
  height: 330px;
  padding: 14px 20px;
}
.header__container {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-image: url(./images/global__img_4845.jpg);
  background-repeat: no-repeat;
}
.header__inform {
  padding-top: 60px;
  grid-template-rows: 32px 50px 73px 64px;
  display: grid;
  width: 100%;
  height: 500px;
  text-align: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}
.header__prise {
  color: #f87a09;
  font-size: 22px;
}
.header__main {
  color: #f87a09;
  font-size: 27px;
  font-family: "Montserrat", sans-serif;
}
.header__paragraph {
  color: white;
  font-size: 21px;
  padding: 0 50px;
}
.header__path_to_catalog button {
  border: 2px solid #f87a09;
  border-radius: 14px;
  background: none;
  height: 45px;
  font-size: 19px;
  color: #f87a09;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
.header__path_to_catalog:hover button {
  border: 2px solid white;
  color: blanchedalmond;
}

/*******************************************************************
product
******************************************************/
.main {
  margin-bottom: 68px;
}
.main__container {
  max-width: 945px;
  padding: 0 5px;
  margin: auto;
  box-sizing: border-box;
}

.divider {
  height: 3px;
  max-width: 945px;
  background: #a59595;
  width: 80%;
  margin: 0 auto;
}

.catalog-header {
  margin: 9px 0 60px 0;
  font-size: 22px;
  font-weight: 400;
  color: #818796;
  line-height: 34px;
  text-align: center;
  align-items: center;
}

.catalog__container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 32px;
}

.product__photo {
  display: block;
  position: relative;
}
.product__photo img {
  display: block;
  object-fit: cover;
  height: 400px;
  width: 100%;
  margin-bottom: 16px;
}
.product__photo:hover .product__img {
  opacity: 1;
  left: 0;
  transform: rotateY(0deg);
}
.product__img {
  text-align: center;
  left: 50%;
  transform: rotateY(90deg);
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 400px;
  opacity: 0;
  transition: all 0.3s;
  position: absolute;
}
.product__name {
  font-size: 16px;
  font-weight: 400;
  min-height: 48px;
  line-height: 24px;
  padding: 0 40px;
  opacity: 0.9;
  margin: 0;
  transition: all 0.3s;
  color: #818796;
  cursor: pointer;
}
.product__information {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}
.product__name:hover {
  color: #f87a09;
}
.product__details {
  font-size: 14px;
  line-height: 21px;
  cursor: pointer;
}
.product__main__section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 120px;
  column-gap: 15px;
}

@media (min-width: 640px) {
  .product:nth-last-child(-n+4) {
    display: block;
  }

  .catalog__container {
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
  }
}
@media (min-width: 1023px) {
  .catalog__container {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
  }
}
.advantages {
  text-align: center;
  font-family: "Roboto", sans-serif;
  max-width: 945px;
  margin: 0 auto;
}
.advantages__company {
  font-size: 24px;
  color: gray;
}
.advantages__information h1 {
  color: #f87a09;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
}
.advantages__information {
  border: 1px solid #d0d3d8;
  height: 120px;
  opacity: 0.8;
  margin: 0 50px;
  padding: 0 25px 16px 0;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.advantages__information::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #1f1a1a;
  z-index: -1;
  transition: 0.8s;
}
.advantages__information:hover h1 {
  color: white;
}
.advantages__information:hover {
  color: white;
}
.advantages__information::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}
.advantages__information:hover::before {
  height: 180%;
}
.advantages__divider {
  background: #f87a09;
  margin: 25px auto;
  max-width: 300px;
  height: 3px;
}
.advantages__container {
  list-style-type: none;
  margin-block-end: auto;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
  padding-inline-start: 0;
}
.advantages__details {
  font-size: 16px;
  padding: 0 19px;
}

.profit {
  max-width: 945px;
  text-align: center;
  margin: 0 auto;
}
.profit__header {
  font-size: 19px;
  margin: 30px 0;
  color: #948796;
}
.profit__product {
  padding: 0 35px;
  overflow: hidden;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.profit__product img {
  transform: rotate(0);
  text-align: center;
  transition: all 0.3s;
  position: absolute;
  top: 17px;
  left: 18px;
}
.profit__product img:hover {
  transform: rotate(360deg);
}
.profit__product__name {
  color: #948796;
}
.profit__container_for_img {
  position: relative;
  height: 80px;
  background: #6f7785;
  width: 80px;
  border-radius: 40px;
}
.profit__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  align-items: center;
  height: 400px;
  list-style: none;
  margin-top: 20px;
}

.profit_padding {
  padding-top: 25px;
}

@media (max-width: 920px) {
  .hidden {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
