/*******************************************************************
device
******************************************************/
.dest_btn {
  background: transparent;
  border: none;
}

.abs_btn {
  position: absolute;
  top: 12px;
  left: 8px;
}

.adress-delivery {
  &__destination-details {
    appearance: none;
    height: 40px;
    padding: 0 12px;
    border: 1px solid #E0E0E0;
  }

  .search__container {
    position: relative;
  }

  .destination_input {
    font-size: 13px;
    color: #1d1d1d;
    padding-left: 35px;
  }

  .dest_style {
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    line-height: 40px;
    text-align: center;
    color: #1d1d1d;
  }

  &__search {
    width: 100%;
    padding-right: 8px;
    box-sizing: border-box;
  }

  span {
    font-size: 11px;
  }
}

.adress-delivery__main {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  column-gap: 15px;
  width: 100%;

  .search {
    border-style: none;
    width: 100%;
    box-sizing: border-box;
  }
}

.adress-delivery__header {
  margin: 0 20px;
  display: none;
  grid-template-columns: auto auto 1fr;
  column-gap: 10px;
  align-items: center;
  span:nth-child(1) {
    display: none;
  }

  span:nth-child(2) {
    font-size: 13px;
    text-transform: lowercase;
    grid-column-start: 2;
    grid-row-start: 1;
  }

  label[for="shipping-details"] {
    grid-column-start: 1;
  }
}

@media (min-width: 640px) {
  .adress-delivery__header {
    display: grid;
  }

  .adress-delivery__main {
    display: none;
  }
}