
.footer {
  max-width: $containers-max-width;
  text-align: center;
  margin: 0 auto;

  &__text {
    color: #818ab6;
    font-size: 20px;
  }
  &__text__i {
    color: #818796;
  }
  &__profit {
    color: #818ab6;
  }
  &__direction {
    position: relative;
    top: 0;
    cursor: pointer;
  }
  &__direction:hover {
    animation: animdash 3s;
  }
}

@keyframes animdash {
  0% {
    top: 0;
  }
  25% {
    top: 30px;
  }
  50% {
    top: 0px;
  }
  75% {
    top: 30px;
  }
  100% {
    top: 0;
  }
}
