/*******************************************************************
product
******************************************************/
.main {
  margin-bottom: 68px;
  &__container {
    max-width: $containers-max-width;
    padding: $containers-paddings-for-small-screens;
    margin: auto;
    box-sizing: border-box;
  }
}

.divider {
  height: 2px;
  background: #a59595;
  width: 80%;
  margin: 0 auto;
}
.catalog-header {
  margin: 30px 0 72px 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 34px;
  text-align: center;
  align-items: center;
}

.catalog {
  &__container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 32px;
  }
}

.product {
  &__photo {
    display: block;
    img {
      display: block;
      object-fit: cover;
      height: 400px;
      width: 100%;
      margin-bottom: 16px;
    }
  }

  &__information {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
  }

  &__name {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 0 40px;
    opacity: 0.9;
    margin: 0;
  }

  &__details {
    font-size: 13px;
    line-height: 21px;
  }
  &__main__section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 120px;
    column-gap: 15px;
  }
}

@media (min-width: 640px) {
  .product:nth-last-child(-n+4) {
    display: block;
  }

  .catalog {
    &__container {
      grid-template-columns: 1fr 1fr;
      column-gap: 15px;
    }
  }
}

@media (min-width: 1023px) {
  .catalog {
    &__container {
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 15px;
    }
  }
}
