/**************************
parameters
***********************/
$orangered-font-color: #f87a09;
$containers-max-width: 945px;
$containers-paddings-for-small-screens: 0 5px;
//End of parameters
body {
  margin: 0 auto;
  font-family: Roboto, sans-serif;
}

@import 'arguments.scss';
@import 'footer.scss';
@import 'header.scss';
@import 'main.scss';
@import 'advantages.scss';
@import 'profit.scss';